{% extends 'core/register.html' %}

{% block title%} Login {% endblock%}

{% block heading %}
<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>
{% endblock %} 

{%block content%}
<form method="POST" class="mx-1 mx-md-4" action="{% url 'core:login-page' %}">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">
<div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <div data-mdb-input-init class="form-outline flex-fill mb-0">
      <input type="text" name="username" placeholder="Enter your username..." class="form-control"/>
      <label class="form-label" for="form3Example1c">Username</label>
    </div>
  </div>
  <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <div data-mdb-input-init class="form-outline flex-fill mb-0">
      <input type="password" name="password" placeholder="Enter your password..." class="form-control"/>
      <label class="form-label" for="form3Example1c">Password</label>
    </div>
  </div>

  <div
  class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
>
  <input
    class="btn btn-primary btn-lg"
    type="submit"
    name="Login"
  />
</div>
{% for message in messages %}
<p class="text-success link-underline-success">{{message}}</p>
{% endfor %}
  <div class="form-check d-flex justify-content-center mb-5">
    <label class="form-check-label" for="form2Example3">Don't have an account?<a href="{% url "core:signup-page" %}">Signup</a></label>
</div>
</form>
{% endblock %}

