@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");

html,
body {
  height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #dde3fb;
  display: grid;
  place-items: center;
  height: 400px;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
}

h5 {
  font-family: "Manrope", sans-serif;
}

#div1 {
  border: 2px solid #efeff1;
  border-radius: 5px;
}

.inp::placeholder {
  color: #c9c9cb;
  font-weight: 500;
  opacity: 2;
}

.btn {
  margin: 0px;
  background-color: #5854ff;
  border-radius: 5px;
}

.btn:hover {
  background-color: #3f5dd5;
}

.btn:focus {
  box-shadow: none;
  outline: none;
}

*:focus {
  outline: none;
  box-shadow: none;
}
