{% extends "jobmanager/nav-bar.html" %}
{%block title %}
<title>Job Details Page</title>
{%endblock%}
    {% block content %}
    <h1>This is job details page</h1>
    <div class="card" style="width: 18rem; margin-left: 10px">
      <div class="card-body"></div>
      <h5 class="card-title">{{job.title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{job.company}}</h6>
      <p class="card-text">{{job.description}}</p>
      <p class="card-text">{{job.location}}</p>
      <p class="card-text">Requirements:</p>
      <ul>
        {% for skill in skills %}
        <li>{{ skill.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <a type="submit" class="btn btn-primary m-3" href="{% url 'jobmanager:job-application' id=job.id %}">Apply</a>
    {%endblock%}
  